body {
    background-color: #f8f9fa;
    margin: 20px;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-group {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

input.form-control,
select.form-control,
.btn-outline-secondary {
    height: 40px;
    border-radius: 5px;
    margin-bottom: 10px;
    /* 添加底部间距 */
}

#chartContainer {
    height: 400px;
}

#fileContent {
    margin-top: 20px;
}